Source: remote-raspberry
Section: utils
Priority: extra
Maintainer: Lorenzo Carbonell Cerezo <lorenzo.carbonell.cerezo@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://www.atareao.es

Package: remote-raspberry
Architecture: all
Depends: ${misc:Depends}, ${python:Depends},
    python3-gi,
    python3-paramiko,
    gir1.2-gtk-3.0,
    gir1.2-gdkpixbuf-2.0,
    gir1.2-glib-2.0,
    gir1.2-handy-0.0
Description: remote-raspberry helps to manage your Raspberry Pi remotely
 remote-rasbperry is an application to helps you to manage your Raspberry Pi,
 and know information about it.
